.loginPage {
  background: url("./assets/loginbackground1.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("./assets/loginbackground1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: rgba(1, 28, 101, 0.6);
  color: white;
}

.recoveryPage {
  background-color: rgb(212, 212, 212);
  height: 100vh;
}

.recoveryLabel {
  color: #837ba1;
  font-size: 1rem;
  font-family: Arial; /* Added font-family */
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.recoveryButton {
  background-color: #537bde;
  color: #ffff;
  border: 2px solid #537bde;
  border-radius: 6px;
  padding: 6px 16px;
  margin-bottom: 30px;
}
.recoveryBackButton {
  background-color: #ffff;
  color: #537bde;
  cursor: pointer;
}

.recoveryCard {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgba(165, 165, 165, 0.5);
}

.resetPassCard {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgba(165, 165, 165, 0.5);
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.viewUserImage {
  width: auto;
  height: 150px;
  border-radius: 50%;
}

.error {
  color: red;
  font-size: 1rem;
  font-family: Arial; /* Added font-family */
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 9px;
  border-radius: 4px;
  background-color: #f8d7da;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.error-message {
  visibility: hidden;
  height: 0;
  transition: visibility 0.3s, height 0.3s;
}

.error-message.show {
  visibility: visible;
  height: auto;
}

.alert-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.alert {
  text-align: center;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-close {
  align-self: center;
  color: #000;
  padding: 0 10px;
  margin-left: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-close-text {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.alert-close:hover {
  background-color: #000;
  color: #fff;
}

.cancel-button {
  background-color: transparent;
  color: #c51c10;
  padding: 6px 16px;
  margin: 0px 8px;
  border: 2px solid #c51c10;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
}

.cancel-button:hover {
  background-color: #c51c10;
  border: 2px solid #c51c10;
  color: #ffff;
}

.accept-button {
  background-color: transparent;
  color: #007d19;
  padding: 6px 16px;
  margin: 0px 8px;
  border: 2px solid #007d19;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
}

.accept-button:hover {
  background-color: #007d19;
  border: 2px solid #007d19;
  color: #ffff;
}

.close-button {
  background-color: transparent;
  color: #c51c10;
  padding: 6px 16px;
  margin: 0px 8px;
  border: 2px solid #c51c10;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
}

.close-button:hover {
  background-color: #c51c10;
  border: 2px solid #c51c10;
  color: #ffff;
}

.show-button {
  background-color: #ffff;
  color: #696969;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
  min-width: 46px;
}

.show-button:hover {
  background-color: #696969;
  color: #ffff;
}

.title {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
}
.userTitle {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
  font-size: 1.5em;
}
.userDetails {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
  font-size: 1em;
}

.cardStages {
  color: #bb23234e;
}

.maxHeight {
  max-height: 25px;
}

.profile-item {
  border-bottom: 1px solid #949494; /* Adjust the color and style as needed */
  margin-bottom: 25px;
}

.btn-container {
  position: relative; /* Adjust the height as needed */
}

/* color oficial del programa */
.appBackgroundColor {
  background-color: #0b2d3a;
}

/* color oficial del programa */
.appTextColor {
  color: #0b2d3a;
}

.menuWidth {
  width: 150px;
}

/* X-Small devices (less than 576px) */
@media (max-width: 575px) {
  .menuWidth {
    width: auto; /* Adjust the width as per your requirements */
  }
}

/* Small devices (576px and above) */
@media (min-width: 576px) {
  .menuWidth {
    width: 135px; /* Original width */
  }
}

/* Medium devices (768px and above) */
@media (min-width: 768px) {
  .menuWidth {
    width: 140px; /* Original width */
  }
}

/* Large devices (992px and above) */
@media (min-width: 992px) {
  .menuWidth {
    width: 140px; /* Original width */
  }
}

@media (min-width: 1000px) {
  .custom-lg-col {
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

.excel-button {
  background-color: transparent;
  color: #007d19;
  padding: 6px 16px;
  margin: 0px 8px;
  border: 2px solid #007d19;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
  min-width: 80px;
}

.excel-button:hover {
  background-color: #007d19;
  border: 2px solid #007d19;
  color: #ffff;
}

.usuario-asignado-button {
  background-color: transparent;
  color: #0b2d3a;
  padding: 6px 16px;
  margin: 0px 8px;
  border: 1px solid #0b2d3a;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Added font-family */
  min-width: 150px;
}

.usuario-asignado-button:hover {
  background-color: #0b2d3a;
  border: 1px solid #0b2d3a;
  color: #ffff;
}
